@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700;800&display=swap');

/* COLOR SCHEME: Bright Accent - Blue/Violet base, Red/Orange accents */
/* Main Background: #2026B2,
Background2: #2F2FA2,
Grey Background: #F1F1F1,
Violet Base: #553D67,
Orange accent: #FB654A,
Orange Accent2: #F64C72,
White: #FDFDFD */

/* Body */

body {
    font-family: 'Prompt', sans-serif;
}

/* Bootstrap Navbar */

.bg-light.navbar-light {
    background-color: #2026B2!important;
    padding-bottom: 6px;
    /* border-bottom: 1px solid #FDFDFD; */
}

#links-div {
    margin: 0 auto;
}

.nav-link {
    display: inline-block;
    font-size: 1vw;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FDFDFD;
}

.navbar-light .navbar-nav .nav-link {
    color: #FDFDFD;
}

.navbar-light .navbar-nav .nav-link.is-current {
    color: #FB654A;
    border-bottom: 3px solid #FB654A ;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #F64C72;
}

/* Welcome Section */

#welcome {
    padding-top: 45px;
    height: 500px;
    background-color: #2026B2;
}

#welcome h1 {
    color: #FDFDFD;
}

#welcome h4 {
    color: #FDFDFD;
}

#welcome h4 span {
    color: #FB654A;
}