@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700;800&display=swap');
/* COLOR SCHEME: Bright Accent - Blue/Violet base, Red/Orange accents */

/* Main Background: #2026B2,
Background2: #2F2FA2,
Grey Background: #F1F1F1,
Violet Base: #553D67,
Orange accent: #FB654A,
Orange Accent2: #F64C72,
White: #FDFDFD */

/* Body */

body {
    font-family: 'Prompt', sans-serif;
}

/* Bootstrap Navbar */

.bg-light.navbar-light {
    background-color: #2026B2!important;
    padding-bottom: 6px;
    /* border-bottom: 1px solid #FDFDFD; */
}

#links-div {
    margin: 0 auto;
}

.nav-link {
    display: inline-block;
    font-size: 1vw;
}

@media (max-width: 660px) {
    .nav-link {
        font-size: 7px;
    }
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FDFDFD;
}

.navbar-light .navbar-nav .nav-link {
    color: #FDFDFD;
}

.navbar-light .navbar-nav .nav-link.is-current {
    color: #FB654A;
    border-bottom: 3px solid #FB654A;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #E63C62;
}

/* Welcome Section */

#welcome {
    padding-top: 50px;
    height: 500px;
    background-color: #2026B2;
}

#welcome .welcome-info {
    height: 375px;
    margin: 0 auto;
    text-align: center;
}

#welcome .welcome-text {
    vertical-align: middle;
    display: inline-block;
}

#welcome h1 {
    margin-top: 50px;
    color: #FDFDFD;
    font-size: 5vw;
}

#welcome h4 {
    color: #FDFDFD;
    font-size: 1.5vw;
}

@media (max-width: 660px) {
    #welcome h1 {
        font-size: 33px;
    }
    #welcome h4 {
        font-size: 10px;
    }
}

#welcome h4 span {
    color: #FB654A;
    position: relative;
}

#welcome .Typist {
    display: inline-block;
}

#welcome hr {
    border: 0;
    height: 1px;
    background: #FB654A;
    background-image: linear-gradient(to right, #2026B2, #FB654A, #2026B2);
    width: 55vw;
}

#welcome .welcome-contact {
    margin-top: 30px;
}

#welcome .welcome-contact a {
    display: inline-block;
    margin-right: 2vw;
    margin-left: 2vw;
    /* color: #111142; */
    color: #FDFDFD;
    transition: 1s;
}

#welcome .welcome-contact a:hover {
    text-decoration: none;
}

#welcome .welcome-contact i {
    display: block;
    font-size: 2.5vw;
    margin-bottom: 4px;
}

#welcome .welcome-contact p {
    display: inline-block;
    font-size: 1.25vw;
}

#welcome .welcome-contact a.instagram:hover {
    color: #E02C73;
}

#welcome .welcome-contact a.linkedin:hover {
    color: #0077B5;
}

#welcome .welcome-contact a.github:hover {
    color: #13181d;
}

#welcome .welcome-contact a.facebook:hover {
    color: #4267b2;
}

#welcome .welcome-contact a.email:hover {
    color: #D54B3D;
}

#welcome .scroll-down {
    text-align: center;
    font-size: 55px;
    color: #FB654A;
}

#welcome .scroll-down i:hover {
    cursor: pointer;
}

/* About Section */

#about-me {
    text-align: center;
    background: #F1F1F1;
}

#about-me img {
    margin-top: 50px;
    width: 18vw;
    border-radius: 50%;
    border: 2px solid #FB654A;
}

.section-title {
    margin-top: 15px;
    font-size: 2.5vw;
    margin-bottom: 16px;
}

hr.section-divider {
    margin-top: 0;
    margin-bottom: 20px;
    width: 10vw;
}

#about-me .about-me-text {
    font-size: 1.5vw;
    width: 60vw;
    margin: 0 auto;
}

.about-me-text button:hover {
    color: #FB654A;
    border-color: #FB654A;
}

/* Portfolio Section */

#portfolio {
    background: #F1F1F1;
    text-align: center;
}